CONFIG VCCAUX  = 3.3;
NET "CLK" PERIOD = 62.5 ns;


NET "ATTENUATION[6]" IOSTANDARD = LVCMOS33;
NET "ATTENUATION[5]" IOSTANDARD = LVCMOS33;
NET "ATTENUATION[4]" IOSTANDARD = LVCMOS33;
NET "ATTENUATION[3]" IOSTANDARD = LVCMOS33;
NET "ATTENUATION[2]" IOSTANDARD = LVCMOS33;
NET "ATTENUATION[1]" IOSTANDARD = LVCMOS33;
NET "ATTENUATION[0]" IOSTANDARD = LVCMOS33;


NET "ATTENUATION[6]" LOC = P26;
NET "ATTENUATION[5]" LOC = P27;
NET "ATTENUATION[4]" LOC = P29;
NET "ATTENUATION[3]" LOC = P30;
NET "ATTENUATION[2]" LOC = P32;
NET "ATTENUATION[1]" LOC = P33;
NET "ATTENUATION[0]" LOC = P34;


NET "LEDS[7]" IOSTANDARD = LVCMOS33;
NET "LEDS[6]" IOSTANDARD = LVCMOS33;
NET "LEDS[5]" IOSTANDARD = LVCMOS33;
NET "LEDS[4]" IOSTANDARD = LVCMOS33;
NET "LEDS[3]" IOSTANDARD = LVCMOS33;
NET "LEDS[2]" IOSTANDARD = LVCMOS33;
NET "LEDS[1]" IOSTANDARD = LVCMOS33;
NET "LEDS[0]" IOSTANDARD = LVCMOS33;


NET "LEDS[7]" LOC = P105;
NET "LEDS[6]" LOC = P104;
NET "LEDS[5]" LOC = P99;
NET "LEDS[4]" LOC = P94;
NET "LEDS[3]" LOC = P85;
NET "LEDS[2]" LOC = P82;
NET "LEDS[1]" LOC = P75;
NET "LEDS[0]" LOC = P118;


NET "SWITCHING_SYNC" IOSTANDARD = LVCMOS33;
NET "AMP_PWDN" IOSTANDARD = LVCMOS33;
NET "BAND_SELECT" IOSTANDARD = LVCMOS33;
NET "CLK" IOSTANDARD = LVCMOS33;
NET "FILT_IN_C2" IOSTANDARD = LVCMOS33;
NET "FILT_IN_C1" IOSTANDARD = LVCMOS33;
NET "FILT_OUT_C2" IOSTANDARD = LVCMOS33;
NET "FILT_OUT_C1" IOSTANDARD = LVCMOS33;
NET "LO1_CE" IOSTANDARD = LVCMOS33;
NET "LO1_LD" IOSTANDARD = LVCMOS33;
NET "LO1_LE" IOSTANDARD = LVCMOS33;
NET "LO1_CLK" IOSTANDARD = LVCMOS33;
NET "LO1_MOSI" IOSTANDARD = LVCMOS33;
NET "LO1_MUX" IOSTANDARD = LVCMOS33;
NET "MCU_AUX1" IOSTANDARD = LVCMOS33;
NET "LO1_RF_EN" IOSTANDARD = LVCMOS33;
NET "SOURCE_RF_EN" IOSTANDARD = LVCMOS33;
NET "SOURCE_MUX" IOSTANDARD = LVCMOS33;
NET "SOURCE_LE" IOSTANDARD = LVCMOS33;
NET "SOURCE_MOSI" IOSTANDARD = LVCMOS33;
NET "SOURCE_LD" IOSTANDARD = LVCMOS33;
NET "SOURCE_CLK" IOSTANDARD = LVCMOS33;
NET "SOURCE_CE" IOSTANDARD = LVCMOS33;
NET "SDA" IOSTANDARD = LVCMOS33;
NET "SCL" IOSTANDARD = LVCMOS33;
NET "RESET" IOSTANDARD = LVCMOS33;
NET "REF_SDO" IOSTANDARD = LVCMOS33;
NET "REF_SCLK" IOSTANDARD = LVCMOS33;
NET "REF_MIX_EN" IOSTANDARD = LVCMOS33;
NET "PORT_SELECT" IOSTANDARD = LVCMOS33;
NET "REF_CONVSTART" IOSTANDARD = LVCMOS33;
NET "PORT2_SDO" IOSTANDARD = LVCMOS33;
NET "PORT2_SCLK" IOSTANDARD = LVCMOS33;
NET "PORT2_CONVSTART" IOSTANDARD = LVCMOS33;
NET "PORT2_MIX_EN" IOSTANDARD = LVCMOS33;
NET "PORT1_SDO" IOSTANDARD = LVCMOS33;
NET "PORT1_SCLK" IOSTANDARD = LVCMOS33;
NET "PORT1_MIX_EN" IOSTANDARD = LVCMOS33;
NET "PORT1_CONVSTART" IOSTANDARD = LVCMOS33;
NET "MCU_SCK" IOSTANDARD = LVCMOS33;
NET "MCU_NSS" IOSTANDARD = LVCMOS33;
NET "MCU_MISO" IOSTANDARD = LVCMOS33;
NET "MCU_MOSI" IOSTANDARD = LVCMOS33;
NET "MCU_INTR" IOSTANDARD = LVCMOS33;
NET "MCU_AUX2" IOSTANDARD = LVCMOS33;
NET "MCU_AUX3" IOSTANDARD = LVCMOS33;


NET "AMP_PWDN" LOC = P24;
NET "BAND_SELECT" LOC = P22;
NET "CLK" LOC = P14;
NET "FILT_IN_C1" LOC = P15;
NET "FILT_IN_C2" LOC = P16;
NET "FILT_OUT_C1" LOC = P21;
NET "FILT_OUT_C2" LOC = P17;
NET "LO1_CE" LOC = P138;
NET "LO1_CLK" LOC = P141;
NET "LO1_LD" LOC = P142;
NET "LO1_LE" LOC = P139;
NET "LO1_MOSI" LOC = P140;
NET "LO1_MUX" LOC = P144;
NET "LO1_RF_EN" LOC = P143;
NET "MCU_AUX1" LOC = P55;
NET "MCU_AUX2" LOC = P51;
NET "MCU_AUX3" LOC = P50;
NET "MCU_INTR" LOC = P57;
NET "MCU_MISO" LOC = P61;
NET "MCU_MOSI" LOC = P59;
NET "MCU_NSS" LOC = P58;
NET "MCU_SCK" LOC = P56;
NET "PORT1_CONVSTART" LOC = P134;
NET "PORT1_MIX_EN" LOC = P137;
NET "PORT1_SCLK" LOC = P132;
NET "PORT1_SDO" LOC = P133;
NET "PORT_SELECT" LOC = P23;
NET "PORT2_CONVSTART" LOC = P47;
NET "PORT2_MIX_EN" LOC = P44;
NET "PORT2_SCLK" LOC = P45;
NET "PORT2_SDO" LOC = P46;
NET "REF_CONVSTART" LOC = P43;
NET "REF_SCLK" LOC = P40;
NET "REF_SDO" LOC = P41;
NET "REF_MIX_EN" LOC = P35;
NET "RESET" LOC = P48;
NET "SCL" LOC = P6;
NET "SDA" LOC = P9;
NET "SOURCE_CE" LOC = P1;
NET "SOURCE_CLK" LOC = P7;
NET "SOURCE_LD" LOC = P10;
NET "SOURCE_LE" LOC = P2;
NET "SOURCE_MOSI" LOC = P5;
NET "SOURCE_MUX" LOC = P8;
NET "SOURCE_RF_EN" LOC = P11;
NET "SWITCHING_SYNC" LOC = P62;

# PlanAhead Generated IO constraints 

NET "PORT1_SCLK" SLEW = FAST;
NET "PORT2_SCLK" SLEW = FAST;
NET "REF_SCLK" SLEW = FAST;
